version: '3.8'

volumes:
  kuma-db:
    name: kuma-db
    driver: local

services:
  mariadb:
    image: mariadb:10
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: kuma_root_pass
      MYSQL_DATABASE: kuma
      MYSQL_USER: kuma
      MYSQL_PASSWORD: kuma_pass
    volumes:
      - kuma-db:/var/lib/mysql
    ports:
      - "3306:3306"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -u kuma -p kuma_pass --silent" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  uptime-kuma:
    build:
      context: .
      dockerfile: docker/dockerfile
      target: release
    container_name: uptime-kuma
    volumes:
      - ./data:/app/data
    ports:
      - "3001:3001"
    environment:
      - UPTIME_KUMA_DISABLE_FRAME_SAMEORIGIN=true
      - UPTIME_KUMA_DB_TYPE=mariadb
      - UPTIME_KUMA_DB_HOSTNAME=mariadb
      - UPTIME_KUMA_DB_PORT=3306
      - UPTIME_KUMA_DB_NAME=kuma
      - UPTIME_KUMA_DB_USERNAME=kuma
      - UPTIME_KUMA_DB_PASSWORD=kuma_pass
      - UPTIME_KUMA_NODE_ID=node1
      - UPTIME_KUMA_FORCE_MIGRATE=true
    depends_on:
      mariadb:
        condition: service_healthy
    restart: unless-stopped
